body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

ul {
  list-style-type: none;
}
.dashboard-list {
  margin-left: 0;
  padding-left: 0;
}

.button-link {
  background: none;
  color: inherit;
  border: none;
  padding: 8 !important;
  font: inherit;
  cursor: pointer;
}

